.border-radius-navbar {
    border-radius: 5px;
}

.div-input-search {
    height: 35px;
    margin-left: 3%;

    display: flex;
    align-items: center;

    background-color: #f2f2f3;
    border-radius: 5px;
}

.input-search-custom {
    width: 80%;
    margin: 0px 3% 0px 3%;
    border: none;
    background-color: #f2f2f3;
    outline: 0;

}

.input-search-custom::placeholder {
    color: #909094
}

.div-icon-search {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #3955A5;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}