.link {
    color: #3955A5;
    text-decoration: underline;
    cursor: pointer;
}
.tabela-cameras {
    width: 100%;
    background-color: white;
}
.tabela-cameras th, td
{
    max-width: 200px;
    height: 50px;
    border: 1px solid #cecaca;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    text-align: center;
}